[libdefaults]
    default_realm = <%= node['samba4-ad']['realm'] %>
<% if node['samba4-ad']['client'] %>
    ticket_lifetime = 24h #
    renew_lifetime = 7d
<% end %>
    dns_lookup_realm = false
    dns_lookup_kdc = true
