<%- # Taken from chef-sssd cookbook: https://github.com/localytics/chef-sssd %>
Name: activate mkhomedir
Default: yes
Priority: 900
Session-Type: Additional
Session:
        required pam_mkhomedir.so umask=0022 skel=/etc/skel
