options {
        directory "/var/cache/bind";

        tkey-gssapi-keytab "/var/lib/samba/private/dns.keytab";
        tkey-domain "<%= node['samba4-ad']['domain-fqdn'].upcase %>";

        dnssec-validation auto;

        auth-nxdomain no;    # conform to RFC1035
        forwarders { <%= node['samba4-ad']['forwarders'].join("; ") %>; };
        listen-on-v6 { any; };
};
