[global]

workgroup = <%= node['samba4-ad']['domain'] %>
client signing = yes
client use spnego = yes
kerberos method = secrets and keytab
realm = <%= node['samba4-ad']['realm'] %>
security = ads
log file = /var/log/samba/log.%m
client signing = if_required
idmap config * : backend = tdb

<% # Parsing Shares code below was taken from https://supermarket.chef.io/cookbooks/samba %>
<% @shares.each do |share,option| -%>
[<%= share %>]
  <% option.each do |o,v| -%>
  <%= o %> = <%= v.respond_to?(:join) ? v.join(',') : v %>
  <% end -%>

<% end unless @shares.nil? -%>
