[sssd]
services = nss, pam
config_file_version = 2
domains = <%= node['samba4-ad']['domain-fqdn'].upcase %>

[domain/<%= node['samba4-ad']['domain-fqdn'].upcase %>]
id_provider = ad
access_provider = ad

# This example specifies /home/DOMAIN-FQDN/user as $HOME.  Use with pam_mkhomedir.so
override_homedir = /home/%d/%u
ad_domain = <%= node['samba4-ad']['domain-fqdn'].upcase %>

# ad_hostname = mymachine.myubuntu.example.com

